body{
    font-family: -apple-system, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.block1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.card1, .tx1{
    text-decoration: none;
    color: grey;
    margin-left: 50px;
    font-weight: 700;
    transition: all 0.6s ease-in-out;
}
.tx1:hover{
    transition: all 0.6s ease-in-out;
    border-bottom: 3px solid rgba(84, 84, 212, 1);
    padding-bottom: 4px;
    color: black;

}
.card2{
    margin-right: 150px;
}
.btn1{
    width: 211px;
    height: 60px;
    border: 1px solid rgba(255, 113, 67, 1);
    border-radius: 10px;
    color: rgba(255, 113, 67, 1);
    background: rgba(219, 219, 219, 0.329);
    transition: all 0.5s ease-in-out;
}
.btn1:hover{
    transition: all 0.5s ease-in-out;
    background-color:rgba(255, 113, 67, 1) ;
    color: whitesmoke;
    box-shadow: 0px 0px 10px rgb(114, 114, 113);
}


